* {
    padding: 0;
    margin: 0;
}

.site-header {
    background-color: #52639B;
}

.container {
    display: flex;
    align-items: center;
    padding: 10px 40px;
    margin: 0 auto;
    width: 100%;
}


.LOGO {
    display: flex;
    align-items: center;
    gap: 20px;
    text-decoration: none;
}

.LOGO img {
    display: block;
}

.LOGO-text {
    font-weight: 400;
    font-size: 64px;
    color: #EFF0ED;
    white-space: nowrap;
}

.header-navigation {
    margin-left: 60px;
}

.menu-navigation {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 130px;
    margin-left: 500px;

}

.menu-navigation a {
    text-decoration: none;
    color: #EFF0ED;
    font-size: large;
    font-weight: bolder;
}

.main-header {
    display: flex;
    align-items: center;
    width: 100%;
    height: 145px;
    background-color: #9FD6FD;
    padding: 30px;
    box-sizing: border-box;

}

.main-header a {
    text-decoration: none;
    color: #000;
}

.Enter {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 160px;
    height: 75px;
    border-radius: 50px;
    background-color: #EFF0ED;
    text-align: center;
}

.Base a {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 230px;
    height: 75px;
    border-radius: 50px;
    background-color: #EFF0ED;
    text-align: center;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 60px;

}

.Base {
    display: inline-flex;
    justify-content: flex-end;
    align-items: flex-end;
    width: 314px;
    height: 75px;
    margin-left: 70%;
    padding: 30px;
    text-align: center;
    line-height: 1;
}

.main-info {
    display: flex;
    justify-content: center;
    align-items: center;
    border: #46BFB9 solid 35px;
    border-radius: 20px;
    padding: 40px 30px;
    margin: 10px;
    box-sizing: border-box;
    flex: 1;
    font-size: 16px;
    line-height: 1.5;

}

.Forum-Fish {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: #52639B;
    color: #EFF0ED;
    font-size: 15px;
    font-weight: 500;
    width: 100%;
    height: 70px;

}